<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMOH</title>
</head>
<body>
    <form action="/update" method="post" enctype="multipart/form-data">
        <br>
        <br>
        Title:
        <input type="text" name="title" placeholder="title" value="{{.Title}}">
        <br>
        <br>
        Text:
        <input type="text" name="text" placeholder="text" value="{{.Text}}">
        <br>
        <br>
        Date:
        <input type="text" name="date" placeholder="text" value="{{.Date}}">
        <br>
        <br>
        Rate:
        <input type="text" name="rate" placeholder="3.6" value="{{.Rate}}">
        <br>
        <br>
        Vip:
        <input type="checkbox" name="vip" value="{{.Vip}}">
        <br>
        <br>
        Author ID:
        <input type="text" name="AuthorID" placeholder="Author ID" value="{{.AthorID}}">
        <br>
        <br>
        <button type="submit">Update</button>

    </form>
</body>
</html>
