<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMOH-SignUp</title>
</head>

<body>
    <form action="/user/signup" method="post" enctype="multipart/form-data">
        <br>
        <br>
        Username:
        <input type="text" name="username">
        <br>
        <br>
        Password:
        <input type="password" name="password">
        <br>
        <br>
        E-Mail:
        <input type="email" name="email">
        <br>
        <br>
        Role:
        <input type="radio" id="html" name="role" value="author">
        <label for="html">Author</label><br>
        <input type="radio" id="css" name="role" value="vipUser">
        <label for="css">VIP User</label><br>
        <input type="radio" id="javascript" name="role" value="user">
        <label for="javascript">User</label>
        <br>
        <br>
        <button type="submit">SignUp</button>

    </form>
</body>

</html>